<header>
  <h1>HomeEasy</h1>
    
</header>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<html>
<body>

<table border="0" width="100%"
cellpadding="10">
<tr>

<td width="50%" valign="top">
<button id="send" class="send">PERICLES</button>
<br>
<br>
<br>
<button id="send" class="send">É MUITO</button>
<br>
<br>
<br>
<button id="send" class="send">BONITÃO</button>
</td>

<td width="50%" valign="top">
  Comentários:
<textarea rows="20" cols="80" maxlength="500"></textarea>

</td>

</tr>
</table>

</body>
</html>